*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(58, 65, 72);
}
.loginArea{
    width: 50%;
    aspect-ratio: 2;
    background-color: cadetblue;
}
#share{
    padding: 0 0.3rem;
}